@Model int


<td><a asp-action="Details" class="btn btn-primary" asp-route-id="@Model">Details</a></td>
<td><a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model">Edit</a></td>
<td><a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model">Delete</a></td>