@using IKEA.BLL.Dtos.DepartmentDtos
@model IKEA.PL_S3_demo_.ViewModels.DepartmentVM.DepartmentViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="card border border-primary">
    <div class="card-header  bg-primary">
        <h1 class="text-white">Create New Department</h1>
    </div>
    <div class="card-body">


        <form asp-action="Create" method="post">
            <div asp-validation-summary="All"></div>
            <partial name="PatialView/_CreateEditPartialView" model="@Model" />
            <div asp-validation-summary="All"></div>
            <div class="mt-4 m-auto">
                <input class="btn btn-primary" type="submit" value="Create Department" />
                <a asp-action="Index" class="btn btn-outline-dark">Back to list</a>
            </div>
        </form>
    </div>
</div>

@section validation {
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}